ul.ulist {
  list-style: none;
  counter-reset: num -1; /* 카운터 -1로 초기화 */
}

li {
  margin-bottom: 2em;
  margin-left: 2em;
  position: relative;
}

li::before {
  content: counter(num); /* 가상요소 표시 컨텐츠를 카운터 숫자로 */
  counter-increment: num 2; /* 2씩 늘어남*/
  position: absolute; /* 절대 위치로 가상 요소 위치 설정 */
  left: -3em;
  top: -0.5em;
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
  width: 2em;
  height: 2em;
  display: flex; /* 가상 요소 가운데 정렬 */
  justify-content: center;
  align-items: center;
  border: 3px solid #b080cf;
  background-color: #9060af;
}