body{
  font-family: 'montserrat', sans-serif;
  color: #222;
  margin: 0;
}
.parent{
  border: 5px solid #000;
  background-color: khaki;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
}
.parent div{
  background-color: hotpink;
  text-align: center;
  color: #fff;
  font-size: 30px;
  width: 100px;
  height: 100px;
}
.parent div:nth-child(2){
  justify-self: end;
  align-self: end;
}