div{
  border-bottom: 5px solid #4641D9;
  border-top: 5px solid #4641D9;
  padding: 10px;
  background-color: rgba(226, 226, 219, 0.383);
  width: 98%;height: 50%;
}
h1{
  color: rgb(141, 51, 35);
  text-align: center;
  text-shadow: 1px 3px 5px rgb(209, 204, 204);
}
h3{
  font-size: 0.8rem;
  text-align: right;
  margin-right: 10px;
}
p{
  color: brown;
}
