
#btn{
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(red, green, blue);
}

.box{
  width: 500px;
  height: 150px;
  border: 10px solid darkgray;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  line-height: 150px;
}