div ul{
  position: relative;
  background-color: rgb(102, 163, 221);
}

div ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div ul li input.chekbox{
  align-items: flex-start;
}


div ul li p.paragraph{
  margin-left:15px;
  width: 100%;
  text-align: left;
}

div ul li span.remove{
  display: block;
  margin-right: 40px;
  float: right;
  color: crimson;
}

