@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
input{
  background-color: rgb(228, 175, 31);
  color: rgb(0, 0, 0);
  display: inline-block;
  /* border:2px solid rgba(5, 5, 5, 0.089); */
  border-radius: 10px;
  width: 200px;
  font-size: 30px;
  padding: 10px;
}
div{
  display: inline-block;
  padding: 10px;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-color: rgba(255, 228, 196, 0.2);
  box-shadow: 5px 10px 0 rgba(143, 136, 136, 0.527);
}