div{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  
}

.show{
  width: 100px;
  height: 50px;
  border: 1px solid gray;
}

.show:nth-child(odd){
  background-color: beige;
}

.show:nth-child(even){
  background-color: blue;
}