body{
  display: flex;
  grid-template-columns: 1fr;
  justify-content: center;
}
.wrap{
  width: 80vw;
  height: 90vh;
  text-align: center;
  border: 2px solid dodgerblue;
  border-radius: 0.5rem;
  font-size: 2rem;
}
button{
  padding: 10px;
  margin: 10px;
}