body {
  background-color: rgb(255, 255, 255);
}
.container {
  display: grid;
  grid-gap: 5px;
  height: 98vh;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
}
.container > div {
  display: grid;
  border: 1px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.header {
  grid-area: header;
  color: rgb(255, 255, 255);
  background-color: rgb(211, 90, 90);
}
.side {
  grid-area: side;
  background-color: aqua;
}
.main {
  grid-area: main;
  background-color: bisque;
}
.footer {
  grid-area: footer;
  background-color: rgb(111, 228, 121);
}
@media all and (max-width: 575px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
      "header"
      "main"
      "side"
      "footer";
  }
}
