*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1ef679;
}

h1{
  font-size: 10vh;
  color: #1ef679;
  -webkit-text-stroke: 2px red;
  text-transform: uppercase;
}